* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.container {
  margin: 20px auto;
  width: 1200px;
}
.container .color-switcher {
  list-style: none;
  margin-bottom: 20px;
  text-align: center;
}
.container .color-switcher li {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.container .color-switcher li:first-child {
  background-color: #c0392b;
}
.container .color-switcher li:nth-child(2) {
  background-color: #16a085;
}
.container .color-switcher li:nth-child(3) {
  background-color: #8e44ad;
}
.container .color-switcher li:nth-child(4) {
  background-color: #2c3e50;
}
.container h3 {
  color: #c0392b;
}
.container div {
  background-color: #c0392b;
  padding: 20px;
  color: #fff;
}
.red .container h3 {
  color: #c0392b;
}
.red .container div {
  color: #fff;
  padding: 20px;
  background-color: #c0392b;
}
.green .container h3 {
  color: #16a085;
}
.green .container div {
  color: #fff;
  padding: 20px;
  background-color: #16a085;
}
.purple .container h3 {
  color: #8e44ad;
}
.purple .container div {
  color: #fff;
  padding: 20px;
  background-color: #8e44ad;
}
.black .container h3 {
  color: #2c3e50;
}
.black .container div {
  color: #fff;
  padding: 20px;
  background-color: #2c3e50;
}
