:root {
  --main-clr: rgb(165, 108, 42);
  --second-clr: rgba(165, 108, 42, 0.582);
  --text-clr: rgba(121, 133, 151, 0.993);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:focus {
  outline: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}
.container {
  padding: 5rem;
  margin: 0 auto;
}
h2 {
  margin: 0 0 5rem;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  position: relative;
}
h2::after {
  content: "";
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
  background-image: linear-gradient(
    to right,
    var(--main-clr),
    var(--second-clr)
  );
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-btn {
  padding: 5px 10px;
  margin: 0 0.5rem;
  border: 2px solid var(--main-clr);
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3 liner;
  font-weight: bold;
}
.filter-btn:hover {
  background-color: var(--second-clr);
}
.filter-btn:focus {
  background-color: var(--main-clr);
  color: #fff;
}
.items {
  width: 1000px;
  margin: 3rem auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.item {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: start;
}
img {
  border: 3px solid var(--main-clr);
  border-radius: 10px;
  width: 230px;
  height: 230px;
}
.item-info {
  margin: 0 0 0 1rem;
}
.item-info .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: #222;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  padding: 0 0 10px;
  border-bottom: 2px dashed var(--text-clr);
}
.item-info .header .price {
  color: var(--main-clr);
}
.item-info p {
  color: var(--text-clr);
  letter-spacing: 0.5px;
  line-height: 1.5;
}
