* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
form {
  margin: 50px auto;
  width: 500px;
  text-align: center;
}
input {
  width: 400px;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #999;
}
input:focus {
  outline: none;
  background-color: #99999977;
}
input::placeholder {
  color: #999;
  font-style: italic;
}
