* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
form {
  margin: 50px auto;
  width: 500px;
  text-align: center;
}
textarea {
  width: 400px;
  height: 200px;
  padding: 10px;
  font-size: 16px;
}
textarea:focus {
  outline: none;
}
span {
  color: #888292;
}
.full {
  color: #ff0000;
}
