* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
form {
  margin: 50px auto;
  width: 300px;
  text-align: center;
}
input {
  width: 200px;
  padding: 10px;
  font-size: 16px;
}
input:focus {
  outline: none;
}
button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: black;
  color: #fff;
  border: none;
}
button:hover {
  background-color: #f0f0f0;
  color: black;
}
div {
  width: 250px;
  margin: auto;
  font-weight: bold;
}
