* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
p {
  margin: 50px 0;
  text-align: center;
}
button {
  display: block;
  margin: 50px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
