* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}
div {
  border: 2px solid #888;
  padding: 20px;
  border-radius: 10px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
div h2,
div p {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
}
.red {
  color: #f00;
}
.blue {
  color: #00f;
}
.green {
  color: #068306;
}
.yellow {
  color: #c9c90f;
}
.orange {
  color: #ffa500;
}
.purple {
  color: #800080;
}
#btn {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #888;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#btn:hover {
  background-color: #555;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.1);
}
